# OS-specific junk #
.DS_Store
Thumbs.db

# Visual Studio extras #
*.sln
*.sdf
*.opensdf
*.suo
*.vcxproj
*.filters

# Windows Executables #
*.exe

# Generic C++ stuff #

# Compiled Object files #
*.slo
*.lo
*.o

# Compiled Dynamic libraries #
*.so
*.dylib

# Compiled Static libraries #
*.lai
*.la
*.a
